---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/certificates
    body:
      encoding: UTF-8
      string: '{"query":"dropbox.com"}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - c81b00afc52f911fc8e5f1d9fdb10090
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"parsed.fingerprint_sha256": "3f556808232d2d9b92c1ced119ee1c465e98d1429aea517614cd32730816d5c5",
        "parsed.subject_dn": "C=US, ST=California, L=San Francisco, O=Dropbox, Inc,
        OU=Dropbox Ops, CN=api.dropboxapi.com", "parsed.issuer_dn": "C=US, O=DigiCert
        Inc, OU=www.digicert.com, CN=DigiCert SHA2 High Assurance Server CA"}, {"parsed.fingerprint_sha256":
        "73dcb14923dc8551ddb434c4328b866326e8499e89840fffcf2fbaf56b2c44a3", "parsed.subject_dn":
        "C=US, ST=California, L=San Francisco, O=Dropbox, Inc, OU=Dropbox Ops, CN=api.dropboxapi.com",
        "parsed.issuer_dn": "C=US, O=DigiCert Inc, OU=www.digicert.com, CN=DigiCert
        SHA2 High Assurance Server CA"}, {"parsed.fingerprint_sha256": "75d2fce7d0d971e3[...]
