---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/certificates
    body:
      encoding: UTF-8
      string: '{"query":"dropbox.com"}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 79b384bf39c1490dc18d26d2ddae1569
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"parsed.fingerprint_sha256": "3f556808232d2d9b92c1ced119ee1c465e98d1429aea517614cd32730816d5c5",
        "parsed.issuer_dn": "C=US, O=DigiCert Inc, OU=www.digicert.com, CN=DigiCert
        SHA2 High Assurance Server CA", "parsed.subject_dn": "C=US, ST=California,
        L=San Francisco, O=Dropbox, Inc, OU=Dropbox Ops, CN=api.dropboxapi.com"},
        {"parsed.fingerprint_sha256": "75d2fce7d0d971e32bca8278df9c4cfa14a1e6a5450ccc31053d427109898e8b",
        "parsed.issuer_dn": "C=US, O=DigiCert Inc, OU=www.digicert.com, CN=DigiCert
        SHA2 High Assurance Server CA", "parsed.subject_dn": "C=US, ST=California,
        L=San Francisco, O=Dropbox, Inc, OU=Dropbox Ops, CN=api.dropboxapi.com"},
        {"parsed.fingerprint_sha256": "7[...]
