---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"dropbox.com"}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 67538b03d9b69a33a20672bec71212dd;o=1
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"location.country": "United States",
        "location.registered_country": "United States", "location.longitude": -97.822,
        "location.continent": "North America", "ip": "162.125.35.129", "location.registered_country_code":
        "US", "location.country_code": "US", "location.latitude": 37.751, "protocols":
        ["443/https", "80/http"], "location.timezone": "America/Chicago"}, {"location.country":
        "United States", "location.registered_country": "United States", "location.longitude":
        -97.822, "location.continent": "North America", "ip": "162.125.48.1", "location.registered_country_code":
        "US", "location.country_code": "US", "location.latitude": 37.751, "protocols":
        ["443/https", "80/http"], "location.timezone": "America/Chicago"}, {"location.country":
        "United States", "location.registered_country": "United States", "location.longitude":
        -122.3314, "location.city": "Seattle", "ip": "162.125.1.8", "location.registered_country_code":
        "US", "location.country_code": "US", "location.latitude": 47.6092, "location.province":
        "Washington", "location.continent": "North America", "location.postal_code":
        "98111", "protocols": ["443/https"], "location.timezone": "America/Los_Angeles"},
        {"location.country": "United States", "location.registered_country": "United
        States", "location.longitude": -97.822, "location.continent": "North America",
        "ip": "162.125.248.7", "location.registered_country_code": "US", "location.country_code":
        "US", "location.latitude": 37.751, "protocols": ["443/https"], "location.timezone":
        "America/Chicago"}, {"location.country"[...]
