---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"dropbox.com"}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - f5519844d069113cd12fe04afbab479a
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"location.country": "United States",
        "location.registered_country": "United States", "location.longitude": -97.822,
        "location.continent": "North America", "ip": "162.125.16.130", "location.registered_country_code":
        "US", "location.country_code": "US", "location.latitude": 37.751, "protocols":
        ["80/http", "443/https"]}, {"location.country": "United States", "location.registered_country":
        "United States", "location.longitude": -97.822, "location.continent": "North
        America", "ip": "162.125.7.7", "location.registered_country_code": "US", "location.country_code":
        "US", "location.latitude": 37.751, "protocols": ["443/https"]}, {"location.country":
        "United States", "location.registered_country": "United States", "location.longitude":
        -97.822,[...]
