---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"dropbox.com"}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 56784e9b969f4de100621681fbbfa685
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"location.country": "United States",
        "location.registered_country": "United States", "location.longitude": -98.481399999999994,
        "location.city": "San Antonio", "ip": "162.125.16.130", "location.registered_country_code":
        "US", "location.country_code": "US", "location.latitude": 29.535599999999999,
        "location.province": "Texas", "location.continent": "North America", "location.postal_code":
        "78216", "protocols": ["80/http", "443/https"], "location.timezone": "America/Chicago"},
        {"location.country": "United States", "location.registered_country": "United
        States", "location.longitude": -98.481399999999994, "location.city": "San
        Antonio", "ip": "162.125.34.138", "location.registered_country_code": "US",
        "location.country_code": "US", "location.latitude": 29.535599999999999, "location.province":
        "Texas", "location.continent": "North America", "location.postal_code": "78216",
        "protocols": ["443/https"], "l[...]
