---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/certificates
    body:
      encoding: UTF-8
      string: '{"query":"google.com","field":"precert","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - ff63c6c8c9a72a8538fea07566882d55
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key_as_string": "false", "key": 0, "doc_count":
        114550}, {"key_as_string": "true", "key": 1, "doc_count": 8153}], "metadata":
        {"count": 122703, "backend_time": 2719, "nonnull_count": 122703, "other_result_count":
        0, "buckets": 2, "error_bound": 0, "query": "google.com"}}'
  recorded_at: Sat, 31 Aug 2019 08:15:38 GMT
recorded_with: VCR 5.0.0
