---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/certificates
    body:
      encoding: UTF-8
      string: '{"query":"google.com","field":"precert","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 830ef5941ad8da107b62b34cc304d490
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key_as_string": "false", "key": 0, "doc_count":
        106944}, {"key_as_string": "true", "key": 1, "doc_count": 1521}], "metadata":
        {"count": 108465, "backend_time": 230, "nonnull_count": 108465, "other_result_count":
        0, "buckets": 2, "error_bound": 0, "query": "google.com"}}'
  recorded_at: Thu, 13 Sep 2018 11:26:07 GMT
recorded_with: VCR 4.0.0
