---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/certificates
    body:
      encoding: UTF-8
      string: '{"query":"google.com","field":"precert","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - be2e35f0e6f4358c4ee62fa50aee4284
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key_as_string": "false", "key": 0, "doc_count":
        106941}, {"key_as_string": "true", "key": 1, "doc_count": 1516}], "metadata":
        {"count": 108457, "backend_time": 650, "nonnull_count": 108457, "other_result_count":
        0, "buckets": 2, "error_bound": 0, "query": "google.com"}}'
  recorded_at: Wed, 12 Sep 2018 23:14:08 GMT
recorded_with: VCR 4.0.0
