---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/websites
    body:
      encoding: UTF-8
      string: '{"query":"dropbox.com"}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 8c21b05ea86edeb4044bd7bc204e1256
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"domain": "dropbox.com", "alexa_rank":
        54}, {"domain": "ravelry.com", "alexa_rank": 10894}, {"domain": "activationkeys.co",
        "alexa_rank": 15812}, {"domain": "ifanqiang.com", "alexa_rank": 22877}, {"domain":
        "wponlinesupport.com", "alexa_rank": 29734}, {"domain": "videojs.com", "alexa_rank":
        41156}, {"domain": "dropboxforum.com", "alexa_rank": 44178}, {"domain": "websitelist.in",
        "alexa_rank": 47343}, {"domain": "skywalker.gr", "alexa_rank": 57141}, {"domain":
        "onthe.io", "alexa_rank": [...]
