---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/websites
    body:
      encoding: UTF-8
      string: '{"query":"dropbox.com"}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - f1472191dbc8f73e84287a3485a36e2c
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"domain": "dropbox.com", "alexa_rank":
        77}, {"domain": "overleaf.com", "alexa_rank": 2002}, {"domain": "tensorflow.org",
        "alexa_rank": 4686}, {"domain": "isitdownrightnow.com", "alexa_rank": 13713},
        {"domain": "skywalker.gr", "alexa_rank": 15405}, {"domain": "dropbox.jp",
        "alexa_rank": 27746}, {"domain": "ifanqiang.com", "alexa_rank": 29078}, {"domain":
        "gpsvisualizer.com", "alexa_rank": 40544}, {"domain": "cloudhq.net", "alexa_rank":
        42095}, {"domain": "wishesmsg.com", "alexa_rank": 4[...]
