---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/websites
    body:
      encoding: UTF-8
      string: '{"query":"dropbox.com"}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - de011346d2368024fae8b4c94960cb9f
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"domain": "dropbox.com", "alexa_rank":
        89}, {"domain": "overleaf.com", "alexa_rank": 4161}, {"domain": "tensorflow.org",
        "alexa_rank": 4916}, {"domain": "naukrigulf.com", "alexa_rank": 6745}, {"domain":
        "isitdownrightnow.com", "alexa_rank": 16520}, {"domain": "odir.org", "alexa_rank":
        16633}, {"domain": "odir.us", "alexa_rank": 27748}, {"domain": "ui8.net",
        "alexa_rank": 45708}, {"domain": "mybrowserpage.com", "alexa_rank": 46668},
        {"domain": "cordcuttersnews.com", "alexa_rank": 48620}[...]
