---
http_interactions:
- request:
    method: get
    uri: https://www.censys.io/api/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 5392dfec819fd886eb650963ee4a14c7
    body:
      encoding: UTF-8
      string: '{"login": "<CENSORED>", "first_login": "2018-03-02 03:45:39", "last_login":
        "2019-08-31 08:22:41.170216", "email": "<CENSORED>", "quota": {"used": 127,
        "resets_at": "2019-09-02 03:19:37", "allowance": 250}}'
  recorded_at: Sat, 31 Aug 2019 08:22:41 GMT
recorded_with: VCR 5.0.0
