---
http_interactions:
- request:
    method: get
    uri: https://www.censys.io/api/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 174117bdd2a95d3ce54ecf548f5e9d6a
    body:
      encoding: UTF-8
      string: '{"api_secret": "<CENSORED>", "first_login": "2018-03-02 03:45:39",
        "quota": {"used": 38, "resets_at": "2018-10-02 03:19:37", "allowance": 250},
        "api_id": "<CENSORED>", "last_login": "2018-09-13 11:15:42.431637", "login":
        "<CENSORED>", "email": "<CENSORED>"}'
  recorded_at: Thu, 13 Sep 2018 11:15:42 GMT
recorded_with: VCR 4.0.0
