---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/websites
    body:
      encoding: UTF-8
      string: '{"query":"google.com","field":"ports","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 39fa2c8f59582c18740c5d8bddd45ca9
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key": 80, "doc_count": 10648}, {"key":
        443, "doc_count": 10053}, {"key": 25, "doc_count": 7657}], "metadata": {"count":
        10830, "backend_time": 54, "nonnull_count": 28358, "other_result_count": 0,
        "buckets": 3, "error_bound": 0, "query": "google.com"}}'
  recorded_at: Sat, 31 Aug 2019 08:15:41 GMT
recorded_with: VCR 5.0.0
