---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/websites
    body:
      encoding: UTF-8
      string: '{"query":"google.com","field":"ports","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 32f3cce8eb8c4091e65bfb1038a8a56f
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key": 80, "doc_count": 27146}, {"key":
        443, "doc_count": 19927}, {"key": 25, "doc_count": 16705}], "metadata": {"count":
        27182, "backend_time": 76, "nonnull_count": 63778, "other_result_count": 0,
        "buckets": 3, "error_bound": 0, "query": "google.com"}}'
  recorded_at: Wed, 12 Sep 2018 23:14:12 GMT
recorded_with: VCR 4.0.0
