---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/websites
    body:
      encoding: UTF-8
      string: '{"query":"google.com","field":"ports","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 4bd9f1d55b58ea31c5b5fec3abeb51eb
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key": 80, "doc_count": 21259}, {"key":
        443, "doc_count": 19443}, {"key": 0, "doc_count": 18119}, {"key": 25, "doc_count":
        13823}], "metadata": {"count": 21329, "backend_time": 413, "nonnull_count":
        72644, "other_result_count": 0, "buckets": 4, "error_bound": 0, "query": "google.com"}}'
  recorded_at: Sat, 16 Dec 2017 04:00:31 GMT
recorded_with: VCR 4.0.0
