---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/websites
    body:
      encoding: UTF-8
      string: '{"query":"google.com","field":"ports","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 12e4a97d58af6c613c95545f8e5c277d
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key": 80, "doc_count": 17493}, {"key":
        443, "doc_count": 15875}, {"key": 25, "doc_count": 11724}], "metadata": {"count":
        17651, "backend_time": 96, "nonnull_count": 45092, "other_result_count": 0,
        "buckets": 3, "error_bound": 0, "query": "google.com"}}'
  recorded_at: Thu, 13 Sep 2018 11:26:11 GMT
recorded_with: VCR 4.0.0
