---
http_interactions:
- request:
    method: get
    uri: https://www.censys.io/api/v1/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 36078cc6bf04392a8a6dfb1865b0005c
    body:
      encoding: UTF-8
      string: '{"primary_series": {"Alexa Top 1 Million Snapshots (Deprecated Format)":
        {"description": "The Censys Websites dataset provides data about the common
        services (e.g., HTTP, HTTPS, SMTP) running on the Alexa Top Million domains.
        This data series is produced by our older data infrastructure and is deprecated.",
        "details_url": "https://www.censys.io/api/v1/data/domain", "latest_result":
        null, "id": "domain", "name": "Alexa Top 1 Million Snapshots (Deprecated Format)"},
        "Alexa Top 1 Million Snapshots": {"description": "The Censys Websites dataset
        provides data about the common services (e.g., HTTP, HTTPS, SMTP) running
        on the Alexa Top Million domains. This data series is produced by our newer
        data infrastructure and will replace the (deprecated) ''domain'' series.",
        "details_url": "https://www.censys.io/api/v1/data/domain_2018", "latest_result":
        null, "id": "[...]
