---
http_interactions:
- request:
    method: get
    uri: https://www.censys.io/api/v1/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - b078497d92c2bcdb818e8c092dc764d4
    body:
      encoding: UTF-8
      string: '{"primary_series": {"Alexa Top 1 Million Snapshots": {"description":
        "This dataset contains the latest information we know about each domain the
        Alexa Top 1 Million. Each record describes a single Alexa domain and matches
        the data that is available in the Top Million Websites search index. All protocols
        are updated daily.", "details_url": "https://www.censys.io/api/v1/data/domain",
        "latest_result": {"timestamp": "20171217T000306", "name": "20171217T0003",
        "details_url": "https://www.censys.io/api/v1/data/domain/20171217T0003"},
        "id": "domain", "name": "Alexa Top 1 Million Snapshots"}, "IPv4 Snapshots":
        {"description": "This dataset contains the latest information we know about
        each public host in the IPv4 address space. Each record describes a single
        host and matches the data that is available in the IPv4 search index. All
        protocols are updated at least weekly.", "details_url": "https://www.censys.io/api/v1/data/ipv4",
        "latest_result": {"timestamp": "20171216T063143", "name": "20171216T0631",
        "details_url": "https://www.censys.io/api/v1/data/ipv4/20171216T0631"}, "id":
        "ipv4", "name": "IPv4 Snapshots"}, "All X.509 Certificates": {"description":
        "This datasets consists of the X.509 certificates we''ve seen in Censys. Each
        record contains the raw certificate and parsed data (from ZGrab). Records
        are identical to what is found in the certificate search index.", "details_url":
        "https://www.censys.io/api/v1/data/certificates", "latest_result": {"timestamp":
        "20171215T133617", "name": "20171215T1336", "details_url": "https://www.censys.io/api/v1/data/certificates/20171215T1336"},
        "id": "certificates", "name": "All X.509 Certificates"}}, "raw_series": {"22-ssh-banner-full_ipv4":
        {"port": 22, "subprotocol": "banner", "protocol": "ssh", "name": "22-ssh-banner-full_ipv4",
        "details_url": "https://www.censys.io/api/v1/data/22-ssh-banner-full_ipv4",
        "latest_result": {"timestamp": "20170705T001914", "name": "20170705T0019",
        "details_url": "https://www.censys.io/api/v1/data/22-ssh-banner-full_ipv4/20170705T0019"},
        "destination": "full_ipv4", "id": "22-ssh-banner-full_ipv4", "description":
        "This dataset is composed of a ZMap TCP SYN scan on port 22 and a ZGrab SSH
        Banner Grab\r\nfor the for responsive hosts. The connection is terminated
        after a banner has been\r\nreceived. We do not currently capture SSH host
        keys, but we are planning to add this\r\nfunctionality in the future."}, "25-smtp-starttls-alexa_top1mil":
        {"port": 25, "subprotocol": "starttls", "protocol": "smtp", "name":[...]
