---
http_interactions:
- request:
    method: get
    uri: https://www.censys.io/api/v1/view/ipv4/8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - f8da8e0116d3898b11fdda41f36efdde
    body:
      encoding: UTF-8
      string: '{"tags": ["dns", "https"], "443": {"https": {"tls": {"server_key_exchange":
        {"ecdh_params": {"curve_id": {"id": 23, "name": "secp256r1"}}}, "certificate":
        {"parsed": {"tbs_noct_fingerprint": "aff357e4ef835a70f3b2d524ac43ec24088927cfbc4bde88a4ed7c519dc489f7",
        "subject_dn": "C=US, ST=California, L=Mountain View, O=Google Inc, CN=*.c.docs.google.com",
        "subject": {"common_name": ["*.c.docs.google.com"], "country": ["US"], "organization":
        ["Google Inc"], "province": ["California"], "locality": ["Mountain View"]},
        "signature_algorithm": {"oid": "1.2.840.113549.1.1.11", "name": "SHA256WithRSA"},
        "redacted": false, "serial_number": "5174850456579837024", "validation_level":
        "OV", "issuer_dn": "C=US, O=Google Inc, CN=Google Internet Authority G2",
        "fingerprint_sha1": "77a84b5bacdb1ea4d447153d24ee3ea7eeab6879", "version":
        3, "fingerprint_sha256": "654ebe0bf006a99fe171b8453f058a9602eb6f163c801ef4b559f6063f3ea865",
        "names": ["*.c.bigcache.googleapis.com", "*.cache1.c.video.google.com", "*.cache5.c.docs.google.com",
        "*.c.pack.google.com", "*.c.video.google.com", "*.cache2.c.video.google.com",
        "*.cache3.c.docs.google.com", "*.cache6.c.video.google.com", "*.cache1.c.docs.google.com",
        "*.cache2.c.docs.google.com", "*.cache6.c.docs.google.com", "*.c.2mdn.net",
        "*.c.play.google.com", "*.cache2.c.youtube.com", "*.cache6.c.play.google.com",
        "*.cache7.c.youtube.com", "*.c.doc-0-0-sj.[...]
