---
http_interactions:
- request:
    method: get
    uri: https://www.censys.io/api/v1/view/ipv4/8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 7ba3591985ec9c4348fffdffa9b547bc
    body:
      encoding: UTF-8
      string: '{"tags": ["https", "dns"], "443": {"https": {"tls": {"server_key_exchange":
        {"ecdh_params": {"curve_id": {"id": 23, "name": "secp256r1"}}}, "certificate":
        {"parsed": {"fingerprint_sha1": "78ebc05c4eb4f9654b6a68a7bff282d251db0242",
        "tbs_noct_fingerprint": "a723ee25c25b9b7d9df3bf92868ee58122738f4a900b5e500ebcf574a0420bae",
        "subject_dn": "C=US, ST=California, L=Mountain View, O=Google LLC, CN=*.c.docs.google.com",
        "issuer": {"common_name": ["Google Internet Authority G3"], "country": ["US"],
        "organization": ["Google Trust Services"]}, "tbs_fingerprint": "a723ee25c25b9b7d9df3bf92868ee58122738f4a900b5e500ebcf574a0420bae",
        "redacted": false, "validation_level": "OV", "issuer_dn": "C=US, O=Google
        Trust Services, CN=Google Internet Authority G3", "fingerprint_sha256": "3cfb4ad1ad016622f4290615122bc4cf4470065cab0a346e7c657c01e41da3da",
        "version": 3, "extensions": {"authority_key_id": "77c2b8509a677676b12dc286d083a07ea67eba4b",
        "certificate_policies": [{"id": "1.3.6.1.4.1.11129.2.5.3"}, {"id": "2.23.140.1.2.2"}],
        "authority_info_access": {"ocsp_urls": ["http://ocsp.pki.goog/GTSGIAG3"],
        "issuer_urls": ["http://pki.goog/gsr2/GTSGIAG3.crt"]}, "extended_key_usage":
        {"server_auth": true}, "subject_alt_name": {"dns_names": ["*.c.docs.google.com",
        "*.a1.googlevideo.com", "*.c.2mdn.net", "*.c.audiobooks.play.google.com",
        "*.c.bigcache.googleapis.com", "*.c.chat.google.com", "*.c.doc-0-0-sj.sj.googleusercontent.com",
        "*.c.drive.google.com", "*.c.googlesyndication.com", "*.c.googlevideo.com",
        "*.c.inbox.google.com", "*.c.lh3.googleusercontent.com", "*.c.lh3.photos.google.com",
        "*.c.mail.google.com", "*.c.offline.maps.google.com", "*.c.pack.google.com",
        "*.c.play.google.[...]
