---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"8.8.8.8","field":"ports","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - '054815dc640128f453100a6db19dfb6e'
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key": 443, "doc_count": 5600}, {"key":
        80, "doc_count": 4057}, {"key": 8080, "doc_count": 3887}, {"key": 8888, "doc_count":
        1097}, {"key": 7547, "doc_count": 843}, {"key": 22, "doc_count": 712}, {"key":
        53, "doc_count": 351}, {"key": 21, "doc_count": 190}, {"key": 23, "doc_count":
        124}, {"key": 25, "doc_count": 110}], "metadata": {"count": 9500, "backend_time":
        112, "nonnull_count": 17839, "other_result_count": 868, "buckets": 10, "error_bound":
        0, "query": "8.8.8.8"}}'
  recorded_at: Sat, 31 Aug 2019 08:15:34 GMT
recorded_with: VCR 5.0.0
