---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"8.8.8.8","field":"ports","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 6b73ec31cc1778299b866c5ffcc56f40
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key": 80, "doc_count": 3699}, {"key":
        8080, "doc_count": 3343}, {"key": 443, "doc_count": 2022}, {"key": 8888, "doc_count":
        774}, {"key": 7547, "doc_count": 588}, {"key": 22, "doc_count": 486}, {"key":
        53, "doc_count": 349}, {"key": 21, "doc_count": 154}, {"key": 23, "doc_count":
        112}, {"key": 47808, "doc_count": 100}], "metadata": {"count": 6876, "backend_time":
        50, "nonnull_count": 12219, "other_result_count": 592, "buckets": 10, "error_bound":
        0, "query": "8.8.8.8"}}'
  recorded_at: Thu, 13 Sep 2018 11:26:06 GMT
recorded_with: VCR 4.0.0
