---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/report/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"8.8.8.8","field":"ports","buckets":10}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 81c5d73df2e96db07276b9a9e9fe5bcf
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"key": 80, "doc_count": 5000}, {"key":
        8080, "doc_count": 3356}, {"key": 443, "doc_count": 1944}, {"key": 8888, "doc_count":
        870}, {"key": 7547, "doc_count": 619}, {"key": 22, "doc_count": 552}, {"key":
        53, "doc_count": 343}, {"key": 21, "doc_count": 154}, {"key": 23, "doc_count":
        154}, {"key": 47808, "doc_count": 99}], "metadata": {"count": 8120, "backend_time":
        123, "nonnull_count": 13695, "other_result_count": 604, "buckets": 10, "error_bound":
        0, "query": "8.8.8.8"}}'
  recorded_at: Wed, 12 Sep 2018 23:14:19 GMT
recorded_with: VCR 4.0.0
