---
http_interactions:
  - request:
      method: get
      uri: https://www.censys.io/api/v1/data/22-ssh-banner-full_ipv4
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - "<CENSORED>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Cloud-Trace-Context:
          - 035b8117ea7de4a4776adc8e4f8c6d00
      body:
        encoding: UTF-8
        string:
          '{"protocol": "ssh", "description": "This dataset is composed of a ZMap
          TCP SYN scan on port 22 and a ZGrab SSH Banner Grab\r\nfor the for responsive
          hosts. The connection is terminated after a banner has been\r\nreceived. We
          do not currently capture SSH host keys, but we are planning to add this\r\nfunctionality
          in the future.", "destination": "full_ipv4", "results": {"historical": [{"timestamp":
          "20170705T001914", "id": "20170705T0019", "details_url": "https://www.censys.io/api/v1/data/22-ssh-banner-full_ipv4/20170705T0019"}],
          "latest": {"timestamp": "20170705T001914", "id": "20170705T0019", "details_url":
          "https://www.censys.io/api/v1/data/22-ssh-banner-full_ipv4/20170705T0019"}},
          "port": 22, "subprotocol": "banner", "id": "22-ssh-banner-full_ipv4", "name":
          "22-ssh-banner-full_ipv4"}'
    recorded_at: Thu, 13 Sep 2018 11:25:57 GMT
recorded_with: VCR 4.0.0
