---
http_interactions:
- request:
    method: get
    uri: https://www.censys.io/api/v1/data/22-ssh-banner-full_ipv4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 6d1db0235792d0414f88b2a763333fd8
    body:
      encoding: UTF-8
      string: '{"protocol": "ssh", "description": "This dataset is composed of a ZMap
        TCP SYN scan on port 22 and a ZGrab SSH Banner Grab\r\nfor the for responsive
        hosts. The connection is terminated after a banner has been\r\nreceived. We
        do not currently capture SSH host keys, but we are planning to add this\r\nfunctionality
        in the future.", "destination": "full_ipv4", "results": {"historical": [{"timestamp":
        "20150912T132919", "id": "20150912T1329", "details_url": "https://www.censys.io/api/v1/data/22-ssh-banner-full_ipv4/20150912T1329"},
        {"timestamp": "20150916T003327", "id": "20150916T0033", "details_url": "https://www.censys.io/api/v1/data/22-ssh-banner-full_ipv4/20150916T0033"},
        {"timestamp": "20150923T003330", "id": "20150923T0033", "details_url": "https://www.censys.io/api/v1/data/22-ssh-banner-full_ipv4/20150923T0033"},
        {"timestamp": "20150924T084359", "id": "20150924T0843", "details_url": "https://www.censys.io/api/v1/data[...]
